In [51]:
import pandas as pd
import numpy as np

In [52]:
df=pd.read_csv('train.csv')
dat=pd.read_csv('test.csv')

In [53]:
df.drop(df[df.isnull().any(axis=1)].index,inplace=True)
data=df

In [54]:
data['len_q1'] = data.question1.apply(lambda x: len(str(x)))
data['len_q2'] = data.question2.apply(lambda x: len(str(x)))
data['diff_len'] = data.len_q1 - data.len_q2
data['len_char_q1'] = data.question1.apply(lambda x: len(''.join(set(str(x).replace(' ', '')))))
data['len_char_q2'] = data.question2.apply(lambda x: len(''.join(set(str(x).replace(' ', '')))))
data['len_word_q1'] = data.question1.apply(lambda x: len(str(x).split()))
data['len_word_q2'] = data.question2.apply(lambda x: len(str(x).split()))
data['common_words'] = data.apply(lambda x: len(set(str(x['question1']).lower().split()).intersection(set(str(x['question2']).lower().split()))), axis=1)

In [66]:
f=['len_q1','len_q2','diff_len','len_char_q1','len_char_q2','len_word_q1','len_word_q2','common_words']
x=data[f]
x.head()

,len_q1,len_q2,diff_len,len_char_q1,len_char_q2,len_word_q1,len_word_q2,common_words
0,66,57,9,20,20,14,12,10
1,51,88,-37,21,29,8,13,4
2,73,59,14,25,24,14,10,4
3,50,65,-15,19,26,11,9,0
4,76,39,37,25,18,13,7,2

In [56]:
y=data['is_duplicate']

In [57]:
dat['len_q1'] = dat.question1.apply(lambda x: len(str(x)))
dat['len_q2'] = dat.question2.apply(lambda x: len(str(x)))
dat['diff_len'] = dat.len_q1 - dat.len_q2
dat['len_char_q1'] = dat.question1.apply(lambda x: len(''.join(set(str(x).replace(' ', '')))))
dat['len_char_q2'] = dat.question2.apply(lambda x: len(''.join(set(str(x).replace(' ', '')))))
dat['len_word_q1'] = dat.question1.apply(lambda x: len(str(x).split()))
dat['len_word_q2'] = dat.question2.apply(lambda x: len(str(x).split()))
dat['common_words'] = dat.apply(lambda x: len(set(str(x['question1']).lower().split()).intersection(set(str(x['question2']).lower().split()))), axis=1)

In [58]:
dat[dat.isnull().any(axis=1)]

,test_id,question1,question2,len_q1,len_q2,diff_len,len_char_q1,len_char_q2,len_word_q1,len_word_q2,common_words
379205,379205,How I can learn android app development?,NaN,40,3,37,17,2,7,1,0
817520,817520,How real can learn android app development?,NaN,43,3,40,16,2,7,1,0
943911,943911,How app development?,NaN,20,3,17,13,2,3,1,0
1046690,1046690,NaN,How I what can learn android app development?,3,45,-42,2,18,1,8,0
1270024,1270024,How I can learn app development?,NaN,32,3,29,16,2,6,1,0
1461432,1461432,NaN,How distinct can learn android app development?,3,47,-44,2,17,1,7,0

In [59]:
dat.tail()

,test_id,question1,question2,len_q1,len_q2,diff_len,len_char_q1,len_char_q2,len_word_q1,len_word_q2,common_words
2345791,2345791,How do Peaks (TV series): Why did Leland kill ...,What is the most study scene in twin peaks?,59,43,16,25,18,11,9,0
2345792,2345792,"What does be ""in transit"" mean on FedEx tracking?",How question FedEx packages delivered?,49,38,11,21,23,9,5,1
2345793,2345793,What are some famous Romanian drinks (alcoholi...,Can a non-alcoholic restaurant be a huge success?,65,49,16,23,17,9,8,0
2345794,2345794,What were the best and worst things about publ...,What are the best and worst things examination...,119,128,-9,26,29,20,20,17
2345795,2345795,What is the best medication equation erectile ...,How do I out get rid of Erectile Dysfunction?,58,45,13,20,20,8,9,2

In [60]:
from sklearn.tree import DecisionTreeRegressor
clf=DecisionTreeRegressor(random_state=1)

In [61]:
xt=dat[f]

In [62]:
clf.fit(x,y)
pred=clf.predict(xt)

In [63]:
dat['is_it']=pred

In [67]:
dat.head()

,test_id,question1,question2,len_q1,len_q2,diff_len,len_char_q1,len_char_q2,len_word_q1,len_word_q2,common_words,is_it
0,0,How does the Surface Pro himself 4 compare wit...,Why did Microsoft choose core m3 and not core ...,57,68,-11,21,22,11,14,2,0.0
1,1,Should I have a hair transplant at age 24? How...,How much cost does hair transplant require?,66,43,23,24,19,14,7,4,0.0
2,2,What but is the best way to send money from Ch...,What you send money to China?,60,29,31,21,15,14,6,4,0.0
3,3,Which food not emulsifiers?,What foods fibre?,27,17,10,16,13,4,3,0,0.0
4,4,"How ""aberystwyth"" start reading?",How their can I start reading?,32,30,2,17,16,4,6,3,1.0

In [ ]:
output =pd.DataFrame({'test_id':dat.test_id,'is_duplicate':pred
})
output.to_csv('submission.csv',index=False)